{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    <style>
      #header {
        background: #73ab84;
      }
      .module h2, .module caption, .inline-group h2 {
        {% comment %} background: #000501; {% endcomment %}
        {% comment %} background: #ade1e5; {% endcomment %}
        background: #99d19c;
      }
      div.breadcrumbs {
        background: #79c7c5;
      }
      .button.default, input[type=submit].default, .submit-row input.default {
        background: #4fb286;
      }
      .button, input[type=submit], input[type=button], .submit-row input, a.button {
        background: #99c5b5;
      }
      .button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
        background: #000501;
      }
      .button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
        background: #000501;
      }
    </style>
    <link rel="shortcut icon" href="{% static 'images/Criollo_Food.ico' %}" />
{% endblock %}

{% block title %}{{ title }} | CriolloFood {% endblock %}

{% block branding %}
<img src="{% static "images/criollo-food-logo.png" %}" alt="Criollo Food logo" width=128 heigth=128>
{% comment %} <h1 id="site-name"><a href="{% url 'admin:index' %}">Criollo Food</a></h1> {% endcomment %}
{% endblock %}

{% block nav-global %}{% endblock %}
