{% extends 'base/base.html' %}
{% load static %}

{% block navbar %}

{% endblock navbar %}

{% block content %}
<div class="row inicio">
    <div class="col-12 text-center">
        <img src="{% static "images/criollo-food-logo.png" %}" alt="Criollo Food logo" width="400">
    </div>
    {% comment %} <div class="col-12 text-center">
        <a class="btn btn-primary" href="{% url 'login' %}">Ingresar</a>
    </div> {% endcomment %}
    <!-- <div class="col mb-5 mt-4">
        <h1 class="my-3">Ingresar</h1>
        <div class="bg-primary text-light p-2 w-50 my-2">
            <h2>Caja</h2>
        </div>
        <div class="bg-primary text-light p-2 w-50 my-2">
            <h2>Cocina</h2>
        </div>
        <div class="bg-primary text-light p-2 w-50 my-2">
            <h2>Comedor</h2>
        </div>
        <div class="bg-primary text-light p-2 w-50 my-2">
            <h2>Pedidos</h2>
        </div>
        <div class="bg-primary text-light p-2 w-50 my-2">
            <h2>Finanzas</h2>
        </div>
    </div> -->
</div>
{% endblock %}