{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Titulo -->
    <title>CriolloFood - {% block title %}  {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-cosmo.min.css' %}">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% block head %}
    {% endblock %}

</head>
<body>
<div>      
    {% block navbar %}
    <!-- Cabezera -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="#">
            <span class="font-italic"><strong class="text-primary">Mi</strong> Estacionamiento</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navegacion" aria-controls="navegacion" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navegacion">
            <ul class="navbar-nav">            
                <li class="nav-item">
                    <a class="nav-link active" href="#">Inicio</a>
                </li>
                {% ifequal user.groups.all.0.name 'Arrendador' %}
                <li class="nav-item">
                    <a class="nav-link active" href="#">Agregar</a>
                </li>
                {% endifequal %}
            </ul>
            <ul class="navbar-nav flex-row ml-lg-auto d-none d-lg-flex">
                <li class="nav-item">
                    <span class="nav-link">({{ user }})</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="d-xs-none navbar-brand ml-2" href="#"><i class="material-icons">exit_to_app</i></a>
                </li>
                {% comment %} <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Perfil</a>
                    <div class="dropdown-menu" x-placement="bottom-start" >
                    <a class="dropdown-item" href="#">Cerrar Sesión</a>
                </li> {% endcomment %}
            </ul>
        </div>
    </nav>
    {% endblock %}

    {% block header %}
    {% endblock %}

    <div  class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>

    {% block footer %}
    <!-- Pie de página -->
    <br><br><br>
    <footer id="footer" class="footer bg-dark pt-lg-5 pt-2">
        <div class="d-none d-lg-flex justify-content-center p-2">
            <p class="text-light text-justify">
                Portafolio de titulo | 2020 DuocUC
            </p>
        </div>
        <div class="d-lg-none p-2">
            <span class="text-light text-center">
                <p>Gestión Agil de Proyectos</p>
                <p>Robinson Humé, Camilo Lucero, Nicolás Leporati</p>
                <p>2019 DuocUC</p>
                <p><a href="/admin">Administración</a></p>
            </span>
        </div>
    </footer>
    {% endblock %}    

</div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extrajs %}
    {% endblock %}

</body>
</html>
